# idea
*.DS_Store
*.idea
*.vscode
*.iml
*.ipr
*.iws

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
build/

# Dependency directories (remove the comment below to include it)
# vendor/

# nodejs
node_modules
package-lock.json

# person
**/vjudge/**
vjudge*.*

